##############################
## Mac OS
##############################
.DS_Store
**/.DS_Store


##############################
## VS Code
##############################
.vscode
**/.vscode/


##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws


##############################
## Maven
##############################
**/target/
**/.mvn/timing.properties
**/.mvn/wrapper/maven-wrapper.jar


##############################
## Infrastructure Workflow
##############################


##############################
## Assessment Workflow
##############################
